.wrapper {
  display: grid;

  min-height: 100vh;
  grid-template-columns: auto 230px minmax(230px, 1200px) auto;
  grid-template-rows: min-content 1fr min-content;
  gap: 0 30px;
  grid-template-areas:
    ". header header ."
    ". sidebar main ."
    "footer footer footer footer";
}

.header {
  grid-area: header;

  display: none;
}

.sidebar {
  grid-area: sidebar;
}

.body {
  grid-area: main;
}

.footer {
  grid-area: footer;
}

@media (max-width: 765px) {
  .wrapper {
    grid-template-columns: minmax(230px, 1fr);
    grid-template-areas:
      "header"
      "main"
      "footer";
  }

  .sidebar {
    display: none;
  }

  .header {
    display: block;
  }
}
